set -g aggressive-resize off
set -g allow-rename on
set -g base-index 1
set -g default-command "${SHELL}"
set -g default-terminal "tmux-256color"
set -g terminal-overrides "alacritty:RGB,xterm-256color:RGB,gnome*:RGB"
set -g detach-on-destroy off
set -g history-limit 10000
set -g message-command-style "fg=#002b36"
set -g message-style "fg=#002b36"
set -g mode-style "bg=default,fg=#93a1a1"
set -g mouse on
set -g renumber-windows on
set -g status-interval 1

{% if item == "tmux" -%}
set -g @status_position         "top"
set -g @status_style            "fg=default,bg=default"
set -g @status_right            "#[fg=#6c71c4,bg=default,bold]"
set -g @pane_border_regular     "fg=#cb4b16,bg=default"
set -g @pane_border_sync        "fg=#2aa198,bg=default"
set -g @pane_border_zoom        "fg=#6c71c4,bg=default"
set -g @pane_border_lines       "heavy"
set -g @pane_border_status      "top"
set -g @window_format_fg        "#[fg=#268bd2,bg=default]"
set -g @window_format_bg        "#[fg=default,bg=#268bd2]"
set -g @window_status           "#[bold][#I] #W#[nobold]"
set -g @window_status_activity  "fg=#d33682,bg=default"
set -g @window_status_current   "fg=#859900,bg=default"
{% elif item == "popup" -%}
set -g @status_position         "top"
set -g @status_style            "fg=default,bg=default"
set -g @pane_border_regular     "fg=#cb4b16,bg=default"
set -g @pane_border_sync        "fg=#2aa198,bg=default"
set -g @pane_border_zoom        "fg=#6c71c4,bg=default"
set -g @pane_border_lines       "heavy"
set -g @pane_border_status      "top"
set -g @window_format_fg        "#[fg=#268bd2,bg=default]"
set -g @window_format_bg        "#[fg=default,bg=#268bd2]"
set -g @window_status           "#[bold]#I#[nobold]"
set -g @window_status_activity  "fg=#d33682,bg=default"
set -g @window_status_current   "fg=#859900,bg=default"
{% elif item == "server" -%}
{% endif -%}

set status on
set status-justify left
set status-left ""
set status-position top
set status-right "#{@status_right}#{session_name} "
set status-style "#{@status_style}"

set -F pane-border-status "#{@pane_border_status}"
set -F pane-border-lines "#{@pane_border_lines}"
set -F pane-border-style "bg=default,#{?pane_synchronized,#{@pane_border_sync}}"
set -F pane-active-border-style "#{?window_zoomed_flag,#{@pane_border_zoom},#{?pane_synchronized,#{@pane_border_sync},#{@pane_border_regular}}}"
set -F pane-border-format "#[#{?window_zoomed_flag,#{@pane_border_zoom},#{?pane_synchronized,#{@pane_border_sync},#{?pane_active,fg=#{@pane_border_regular}}}]#{?window_zoomed_flag, ZOOM ,}"

set -F window-status-separator "  "
set -F window-status-current-format "#{@window_format_fg}#{@window_format_bg}#{@window_status}#{@window_format_fg}"
set -F window-status-format "#{@window_format_fg}#{@window_status}"
set -F window-status-activity-style "#{window_status_activity"
set -F window-status-current-style "#{window_status_current"


bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe
{%- if 'Darwin' in ansible_system %} "pbcopy"
{% elif 'Linux' in ansible_system %} "xsel -i -p && xsel -o -p | xsel -i -b"
{% endif -%}
bind -T copy-mode-vi WheelDownPane send -N2 -X scroll-down  # fix scrolling speed
bind -T copy-mode-vi WheelUpPane send -N2 -X scroll-up      # fix scrolling speed
bind '%' split-window -h -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind 'C' new-window -c "#{pane_current_path}"
bind 'D' run-shell -b "bmux dump-pane"
bind 'G' run-shell -b "bmux move-windows #{session_name}"
bind 'I' command-prompt -p "New session: "  "new-session -A -s '%%'"
bind 'M' choose-tree -Z "move-pane -t %%"
bind 'O' run-shell -b "bmux open-project"
bind 'P' display-popup -E -w 45% -h 85% -b rounded -S "fg=color234" "tmux -L popup -f ~/.config/tmux/popup.conf new-session -A -s popup -c ~/"
bind 'S' run-shell -b "bmux open-project -s"
bind 'T' run-shell -b "bmux select-layout"
bind 'W' choose-tree -Zs "move-window -t %%"
bind 'c' new-window -c "~/"
bind 'k' clear-history
bind 'r' run-shell -b "bmux rename-window #{pane_current_path}"
{% if "tmux" in item -%}
bind 'u' source-file "~/.config/tmux/tmux.conf"
{% elif "popup" in item -%}
bind 'u' source-file "~/.config/tmux/popup.conf"
{% endif -%}
bind 'y' set synchronize-panes
