{% if item == "tmux" %}
set -s  @status_position         "top"
set -s  @status_style            "fg=default,bg=default"
set -s  @status_right            "#[fg=magenta,bg=default,bold]#{session_name}"
set -s  @pane_border_regular     "fg=blue,bg=default"
set -s  @pane_border_sync        "fg=cyan,bg=default"
set -s  @pane_border_zoom        "fg=magenta,bg=default"
set -s  @pane_border_lines       "heavy"
set -s  @pane_border_status      "top"
set -s  @window_format_fg        "#[fg=blue,bg=default]"
set -s  @window_format_bg        "#[fg=black,bg=blue]"
set -s  @window_status           "#[bold] [#I] #W #[nobold]"
set -s  @window_status_activity  "fg=violet,bg=default"
{% elif item == "popup" %}
set -s  @status_position         "top"
set -s  @status_style            "fg=default,bg=default"
set -s  @status_right            "#[fg=magenta,bg=default,bold]#{session_name}"
set -s  @pane_border_regular     "fg=orange,bg=default"
set -s  @pane_border_sync        "fg=cyan,bg=default"
set -s  @pane_border_zoom        "fg=magenta,bg=default"
set -s  @pane_border_lines       "simple"
set -s  @pane_border_status      "top"
set -s  @window_format_fg        "#[fg=orange,bg=default]"
set -s  @window_format_bg        "#[fg=black,bg=blue]"
set -s  @window_status           "#[bold] [#I] #W #[nobold]"
set -s  @window_status_activity  "fg=violet,bg=default"
{% endif %}

set -g  pane-active-border-style "#{?window_zoomed_flag,#{@pane_border_zoom},#{?pane_synchronized,#{@pane_border_sync},#{@pane_border_regular}}}"
set -g  pane-border-format "#{?window_zoomed_flag, ZOOM ,}"
set -g  pane-border-indicators both
set -g  pane-border-style "bg=default,#{?pane_synchronized,#{@pane_border_sync},fg=white}"
set -gF pane-border-status "#{@pane_border_status}"
set -gF pane-border-lines "#{@pane_border_lines}"

set -g  window-status-activity-style "#{window_status_activity}"
set -g  window-status-current-style "#{window_status_current}"
set -gF window-status-current-format "#{@window_format_bg}#{@window_status}"
set -gF window-status-format "#{@window_format_fg}#{@window_status}"

set -g  status on
set -g  status-justify left
set -g  status-left ""
set -g  status-style "#{@status_style}"
set -gF status-right "#{@status_right}"
set -gF status-position "#{@status_position}"

set -g  message-style "bg=black,fg=default"
set -g  mode-style "bg=white,fg=black"

set -g  aggressive-resize off
set -g  allow-passthrough on
set -g  allow-rename on
set -g  automatic-rename-format "#{b:pane_current_path}"
set -g  base-index 1
set -g  default-command "${SHELL}"
set -g  default-terminal "tmux-256color"
set -g  detach-on-destroy off
set -g  history-limit 10000
set -g  mouse on
set -g  renumber-windows on
set -g  status-interval 1

bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe {{ tmux_clipboard }}
bind -T copy-mode-vi WheelDownPane send -N2 -X scroll-down  # fix scrolling speed
bind -T copy-mode-vi WheelUpPane send -N2 -X scroll-up      # fix scrolling speed

bind '%' split-window -h -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind 'C' new-window -c "#{pane_current_path}"
bind 'c' new-window -c "~/"
bind 'D' run-shell -b "bmux dump"
bind 'I' command-prompt -p "New session: "  "new-session -A -s '%%'"
bind 'M' choose-tree -Zs "move-window -t %%"
bind 'm' choose-tree -Z "move-pane -t %%"
bind 'O' run-shell -b "bmux open"
{% if item == "tmux" %}
bind 'N' display-popup -E -w 90% -h 90% -b rounded -S "fg=color234" "tmux -L notes -f ~/.config/tmux/popup.conf new-session -As notes -c ~/Development/Scratch"
bind 'P' display-popup -E -w 55% -h 100% -b rounded -S "fg=color234" "tmux -L popup -f ~/.config/tmux/popup.conf new-session -As popup -c ~/Development/Scratch"
{% endif %}
bind 'r' run-shell -b "bmux rename #{pane_current_path}"
bind 'S' run-shell -b "bmux open --new-session"
bind 'u' source-file "~/.config/tmux/{{ item }}.conf"
bind 'y' set synchronize-panes

{% for plugin in tmux_plugins %}
run-shell {{ ansible_facts['user_dir'] }}/.local/share/{{ plugin['name'] }}/{{ plugin['exec'] }}
{% endfor %}
