[[ $- != *i* ]] && return

bind "set completion-ignore-case on"
bind "set completion-map-case on"
bind "set show-all-if-ambiguous on"
bind "set mark-symlinked-directories on"
bind "set visible-stats on"
bind "set menu-complete-display-prefix on"
bind "TAB":menu-complete

shopt -s cdspell
shopt -s dotglob
shopt -s no_empty_cmd_completion

{% for item in evals %}
eval "{{ item }}"
{% endfor %}

{% for key, value in aliases.items() %}
alias {{ key }}='{{ value }}'
{% endfor %}

{% for key, value in functions.items() %}
function {{ key }}() {
  {{ value | indent( width=2, indentfirst=false) }}
}

{% endfor -%}

PS1="[\[\e[38;5;166m\]\u\[\e[0;0m\]@\[\e[38;5;33m\]\h\[\e[0;0m\]:\[\e[38;5;160m\]\W\[\e[0;0m\]]\$ "

{% if 'remmac06432' in ansible_hostname -%}
# -- begin oreilly config -- #
source {{ ansible_user_dir }}/.infractl/secrets
source /usr/local/bin/google-cloud-sdk/completion.zsh.inc
# -- end oreilly config -- #
{% endif %}

{% for item in sources %}
source {{ item }}
{% endfor %}

complete -F __start_kubectl k
