PATH=""
{% if 'Darwin' in ansible_system %}
PATH={{ python3_user_base.stdout }}/bin
{% endif %}
{% for item in paths %}
PATH={{ item }}:"$PATH"
{% endfor %}

MANPATH=""
{% for item in manpaths %}
MANPATH={{ item }}:"$MANPATH"
{% endfor %}

{% for item in exports %}
export {{ item }}
{% endfor %}

source "$HOME/.bashrc"
