{% for item in paths %}
{{ item }}
{% endfor %}

{% for item in manpaths %}
{{ item }}
{% endfor %}

{% for item in exports %}
export {{ item }}
{% endfor %}

if [[ -z "$TMUX" ]]; then
  tmux_session_name="$(keepassxc-cli diceware --words 2 | tr ' ' '-')"
  tmux attach -t "$tmux_session_name" &> /dev/null || tmux new -s "$tmux_session_name"
fi

source ~/.bashrc