PATH=""
{% for item in paths %}
PATH={{ item }}:"$PATH"
{% endfor %}

MANPATH=""
{% for item in manpaths %}
MANPATH={{ item }}:"$MANPATH"
{% endfor %}

{% for item in exports %}
export {{ item }}
{% endfor %}

if [[ -z "$TMUX" ]]; then
  if tmux has-session -t main &> /dev/null; then tmux attach-session -t main
  else tmux new -s main
  fi
fi

source ~/.bashrc
