PATH=~/.local/bin:~/bin
PATH="$PATH":/usr/local/bin:/usr/local/sbin
PATH="$PATH":/usr/bin:/usr/sbin:/bin:/sbin
MANPATH=~/.local/share/man
MANPATH=/usr/local/share/man:/usr/share/man:"$MANPATH"

export PATH
export MANPATH

setopt AUTO_CD EXTENDED_GLOB NOMATCH NO_CASE_GLOB NOTIFY CORRECT CORRECT_ALL GLOB_DOTS
unsetopt BEEP

{% for key, value in aliases.items() %}
alias {{ key }}=\'{{ value }}\'
{% endfor %}

{% for key, value in functions.items() %}
function {{ key }}() { {{ value }} ; }
{% endfor %}