PATH=""
{% for item in paths %}
PATH={{ item }}:"$PATH"
{% endfor %}

MANPATH=""
{% for item in manpaths %}
MANPATH={{ item }}:"$MANPATH"
{% endfor %}

{% for item in exports %}
export {{ item }}
{% endfor %}

unsetopt BEEP
setopt AUTO_CD EXTENDED_GLOB NOMATCH NO_CASE_GLOB NOTIFY CORRECT CORRECT_ALL GLOB_DOTS
setopt SHARE_HISTORY APPEND_HISTORY HIST_VERIFY EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST HIST_SAVE_NO_DUPS HIST_IGNORE_DUPS HIST_REDUCE_BLANKS

HISTFILE=~/.zsh_history
HISTSIZE=2000
SAVEHIST=5000

{% for item in evals %}
eval "{{ item }}"
{% endfor %}

FPATH=/usr/local/share/zsh-completions:"$FPATH"
zstyle ':completion:*' list-suffixes expand prefix suffix
zstyle ':completion:*' matcher-list 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*'
autoload -Uz compinit && compinit

{% for key, value in aliases.items() %}
alias {{ key }}='{{ value }}'
{% endfor %}

{% for key, value in functions.items() %}
function {{ key }}() {
  {{ value | indent( width=2, indentfirst=false) }}
}

{% endfor -%}

function precmd() {
  local ret=$?
  local reset="%f"
  local blue="%F{33}" \
        cyan="%F{37}" \
        violet="%F{61}" \
        green="%F{64}" \
        magenta="%F{125}" \
        red="%F{160}" \
        orange="%F{166}" \
        base03="%F{234}"

  _CWD="[${blue}%~${reset}]"
  _DATE="[${violet}$(date +%H:%M:%S)${reset}]"
  _HOST="" _PYENV="" _PROMPT="" _NL=$'\n' _PREFIX_1="" _PREFIX_2=""

  if [[ -n "$TMUX" ]]; then
    [[ "$(tmux list-panes | wc -l)" -gt 2 ]] && _CWD="[${blue}%1~${reset}]"
  fi

  [[ -n "$SSH_CONNECTION" && -z "$TMUX" ]] && _HOST="[${orange}%m${reset}]─"
  [[ -n "$VIRTUAL_ENV" ]] && _PYENV="─[${cyan}$(basename "$VIRTUAL_ENV")${reset}]"
  [[ -n "$CONDA_DEFAULT_ENV" ]] && _PYENV="─[${cyan}${CONDA_DEFAULT_ENV}${reset}]"

  case "$ret" in
    0) _PROMPT="%B${green} %# ${reset}%b"   ;;
    1) _PROMPT="%B${red} %# ${reset}%b"     ;;
    *) _PROMPT="%B${magenta} %# ${reset}%b" ;;
  esac

  _PREFIX_1="${_NL}┌─"
  _PREFIX_2="${_NL}└─"

  __git_ps1 "${_PREFIX_1}${_HOST}${_CWD}${_PREFIX_2}${_DATE}${_PYENV}" "${_PROMPT}" "─[%s]"
}

{% for item in sources %}
[[ -f {{ item }} ]] && source {{ item }}
{% endfor %}
source "{{ usr_path }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

if [[ -z "$TMUX" ]]; then
  if tmux has-session -t main &> /dev/null; then tmux attach-session -t main
  else tmux new -s main
  fi
fi
