PATH=""
{% if 'Darwin' in ansible_system %}
PATH={{ python3_user_base.stdout }}/bin
{% endif %}
{% for item in paths %}
PATH={{ item }}:"$PATH"
{% endfor %}

MANPATH=""
{% for item in manpaths %}
MANPATH={{ item }}:"$MANPATH"
{% endfor %}

{% for item in exports %}
export {{ item }}
{% endfor %}

{% for item in evals %}
eval "{{ item }}"
{% endfor %}

{% for key, value in aliases.items() %}
alias {{ key }}='{{ value }}'
{% endfor %}

{% for key, value in functions.items() %}
function {{ key }}() {
  {{ value | indent( width=2, indentfirst=false) }}
}

{% endfor -%}

{% if 'remmac06432' in ansible_hostname -%}
# -- begin oreilly config -- #
source {{ ansible_user_dir }}/.infractl/secrets
source /usr/local/bin/google-cloud-sdk/completion.zsh.inc
# -- end oreilly config -- #
{% endif %}
{% if 'MacOSX' in ansible_distribution %}
source /usr/local/opt/fzf/shell/completion.zsh
source /usr/local/opt/fzf/shell/key-bindings.zsh
{% elif 'Ubuntu' in ansible_distribution %}
source /usr/share/doc/fzf/examples/completion.zsh
source /usr/share/doc/fzf/examples/key-bindings.zsh
{% elif 'Fedora' in ansible_distribution %}
source /usr/share/fzf/shell/key-bindings.zsh
{% endif %}
source {{ ansible_user_dir }}/.local/share/powerlevel10k/powerlevel10k.zsh-theme
source {{ ansible_user_dir }}/.config/p10k.zsh
source {{ usr_path }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh


unsetopt  BEEP
setopt    APPEND_HISTORY \
          AUTO_CD \
          COMPLETE_ALIASES \
          CORRECT \
          CORRECT_ALL \
          EXTENDED_GLOB \
          EXTENDED_HISTORY \
          GLOB_DOTS \
          HIST_EXPIRE_DUPS_FIRST \
          HIST_IGNORE_DUPS \
          HIST_REDUCE_BLANKS \
          HIST_SAVE_NO_DUPS \
          HIST_VERIFY \
          NO_CASE_GLOB \
          NOMATCH \
          NOTIFY \
          SHARE_HISTORY

HISTFILE=~/.zsh_history
HISTSIZE=2000
SAVEHIST=5000

bindkey -e

zstyle ':completion:*' menu select list-suffixes expand prefix suffix
zstyle ':completion:*' matcher-list 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*'

autoload -Uz compinit && compinit

complete -F __start_kubectl k
